{# src/P4/BilletBundle/Resources/views/Default/index.html.twig #}

{% extends "P4BilletBundle::layout.html.twig" %}

{% block title %}Accueil{% endblock %}

{% block header %}
<div class="header">
</div>
{% endblock %}

{% block info %}
<div class="well">
    <div class="text-center titre">
        Nos Tarifs :
    </div>
    <table>
        <tr>
            <th>Billet</th>
            <th>Prix</th>
        </tr>
        <tr>
            <td>Enfant<h6>(entre 4 et 12 ans)</h6></td>
            <td>8€</td>
        </tr>
        <tr>
            <td>Normal<h6>(à partir de 12 ans)</h6></td>
            <td>16€</td>
        </tr>
        <tr>
            <td>Senior<h6>(à partir de 60 ans)</h6></td>
            <td>12€</td>
        </tr>
        <tr>
            <td>Réduit<h6>(sous conditions)</h6></td>
            <td>10€</td>
        </tr>
    </table>
    <p>L'entrée pour les enfants de moins de 4 ans est gratuite !</p>
</div>
{% endblock %}

{% block content %}
<p class="big"> Réservations </p>

<div class="well form">

{{ include("P4BilletBundle:Default:form.html.twig") }}

</div>
{% endblock %}

{% block recap %}

<div class="well">
    <div class="text-center titre">
        <p>Résumé de la commande</p>
    </div>
    <div class="resume">
            <table>
                <tr>
                    <th class="center">Billets</th>
                    <th class="center">Quantités</th>
                    <th class="right">Prix</th>
                    <th></th>
                </tr>
                <tr class="gratuit hide">
                    <td class="center">Gratuit</td>
                    <td class="QBilletGratuit center">0</td>
                    <td class="PrixBilletGratuit right">0</td>
                    <td>€</td>
                </tr>
                <tr class="enfant hide">
                    <td class="center">Enfant</td>
                    <td class="QBilletEnfant center">0</td>
                    <td class="PrixBilletEnfant right">0</td>
                    <td>€</td>
                </tr>
                <tr class="normal hide">
                    <td class="center">Normal</td>
                    <td class="QBilletNormal center">0</td>
                    <td class="PrixBilletNormal right">0</td>
                    <td>€</td>
                </tr>
                <tr class="senior hide">
                    <td class="center">Senior</td>
                    <td class="QBilletSenior center">0</td>
                    <td class="PrixBilletSenior right">0</td>
                    <td>€</td> 
                </tr>
                <tr class="reduit hide">
                    <td class="center">Reduit</td>
                    <td class="QBilletReduit center">0</td>
                    <td class="PrixBilletReduit right">0</td>
                    <td>€</td>                    
                </tr>
            </table>
            <div class="somme">
            </div>
        </div>
</div>

<script type='text/javascript'>

    //Modification du choix entre journee et demi journee en fonction de la date
    $('.visite').change(function () {
        visite = $('.visite').datepicker('getDate');
        jourVisite = visite.getDay();
        now = new Date();
        jour = now.getDay();
        heure = now.getHours();
        option = $("option[value=journee]").get();
        if (heure >= 14 && jourVisite == jour) {
            $("#formulaire_type option[value=journee]").remove();
        } else if (option == "") {
            $("#formulaire_type").prepend($('<option>', {
                value : 'journee',
                text : 'Journée'
            }));
        }
    });

    //Fonction qui fait un recap de la commande
    function recapCommande() {
    $(".prix").change(function() {
        QBG = QBE = QBN = QBS = QBR = 0;
        PBG = PBE = PBN = PBS = PBR = 0;
        somme = 0;
        $(".gratuit").addClass("hide");
        $(".enfant").addClass("hide");        
        $(".normal").addClass("hide");
        $(".senior").addClass("hide");
        $(".reduit").addClass("hide");
        for ( b=0; b<index; b++) {
            $("#formulaire_billets_"+b+"_naissance").removeClass('inputError');            
            date = $("#formulaire_billets_"+b+"_naissance").datepicker("getDate");
            dateVisite = $('.visite').datepicker("getDate");
            calcul_age(date, dateVisite);
            if ( age >= 0) {
                if ($('#formulaire_billets_' + b + '_tarif').is(':checked')) {
                    prix = 10;
                    recapBillet(prix);
                } else {
                    calcul_prix(age);
                    recapBillet(prix);
                }
            } else {
                $("#formulaire_billets_"+b+"_naissance").addClass('inputError');
                $("#formulaire_billets_"+b+"_naissance").val('');
            }
        }
      }); 
    }

    //Calcul de l'age en fonction de la date de naissance et de la date de visite
    function calcul_age(date, dateVisite) {
        birth_year = date.getFullYear();
        birth_month = date.getMonth();
        birth_day = date.getDate();
        today_year = dateVisite.getFullYear();
        today_month = dateVisite.getMonth();
        today_day = dateVisite.getDate();
        age = today_year - birth_year;

        if ( today_month < birth_month){
            age--;
        } if ((birth_month == today_month) && (today_day < birth_day)){
            age--;
        }
        return age;
    }

    //Calcul du prix en fonction de l'age
    function calcul_prix (age) {
        if (age < 4 && age >= 0) {
            prix = 0;
        } else if (age >= 4 && age < 12) {
            prix = 8;
        } else if (age >=12 && age < 60) {
            prix = 16;
        } else if (age >= 60) {
            prix = 12;
        } else {}
        return prix;
    }

    function recapBillet(prix) {
        if (prix == 0) {
            QBG = QBG + 1;
            PBG = PBG + 0;
            $(".gratuit").removeClass("hide").fadeIn(1200);
        } else if (prix == 8) {
            QBE = QBE + 1;
            PBE = PBE + 8;
            $(".enfant").removeClass("hide").fadeIn(1200);
        } else if (prix == 16) {
            QBN = QBN + 1;
            PBN = PBN + 16;
            $(".normal").removeClass("hide").fadeIn(1200);
        } else if (prix == 12) {
            QBS = QBS + 1;
            PBS = PBS + 12;
            $(".senior").removeClass("hide").fadeIn(1200);
        } else if (prix == 10) {
            QBR = QBR + 1;
            PBR = PBR + 10;
            $(".reduit").removeClass("hide").fadeIn(1200);
        }
        $('.QBilletGratuit').html(QBG);
        $('.QBilletEnfant').html(QBE);
        $('.QBilletNormal').html(QBN);
        $('.QBilletSenior').html(QBS);
        $('.QBilletReduit').html(QBR);

        $('.PrixBilletGratuit').html(PBG);
        $('.PrixBilletEnfant').html(PBE);
        $('.PrixBilletNormal').html(PBN);
        $('.PrixBilletSenior').html(PBS);
        $('.PrixBilletReduit').html(PBR);    

        somme = PBG + PBE + PBN + PBS + PBR;

        $('.somme').html('Prix Total = ' + somme + "€");
    } 
    
</script>

{% endblock %}

