{# src/P4/BilletBundle/Resources/views/Default/index.html.twig #}

{% extends "P4BilletBundle::layout.html.twig" %}

{% block title %}Accueil{% endblock %}

{% block header %}
<div class="header">
</div>

{% for message in app.session.flashbag.get('success') %}
    <div class="alert alert-success center">{{ message }}</div>
{% endfor %}
{% for message in app.session.flashbag.get('warning') %}
    <div class="alert alert-warning center">{{ message }}</div>
{% endfor %}
{% endblock %}

{% block content %}
<p class="big"> Réservations </p>

<div class="well form">

{{ include("P4BilletBundle:Default:form.html.twig") }}

</div>

<script type='text/javascript'>

    //Modification du choix entre journee et demi journee en fonction de la date
    $('.visite').change(function () {
        visite = $('.visite').datepicker('getDate');
        jourVisite = visite.getDay();
        now = new Date();
        jour = now.getDay();
        heure = now.getHours();
        option = $("option[value=journee]").get();
        if (heure >= 14 && jourVisite == jour) {
            $("#start_form_type option[value=journee]").remove();
        } else if (option == "") {
            $("#start_form_type").prepend($('<option>', {
                value : 'journee',
                text : 'Journée'
            }));
        }
    });

</script>

{% endblock %}