{# src/P4/BilletBundle/Resources/views/Default/validation.html.twig #}

{% extends "P4BilletBundle::layout.html.twig" %}

{% block header %}
<div class="header">
</div>
{% endblock %}

{% block content %}
    <p>Paiment accepté !!! Un email va vous être envoyé</p>
{% endblock %}